@model Library.Application.Queries.Order.OrderQuery
<p class="button">
    @Html.ActionLink("Checkout", "Checkout", "ShoppingCart")
</p>
<table>
    <tr>
        <th>
            Book Name
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Books)
    {

        <tr>
            <td>
                @Html.ActionLink(item.BookTitle, "Details", "Books", new { id = item.Id }, null)
            </td>

            <td>
                <a href="#" onclick="Delete('@item.Id')" class="RemoveLink">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>Books: </td>
        <td>@Model.Books.Count()</td>
    </tr>
</table>