@model IEnumerable<Library.Web.Models.BookCommand>

<div class="row first-row">
    <table class="table table-condensed">
        <thead>
            <tr class="tr-books-heading">
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var book in Model)
            {
                <tr class="tr-books">
                    <td>@book.Pages</td>
                    <td>@book.BookTitle</td>
                    <td>@book.Author</td>
                    <td>@book.Year</td>
                </tr>
            }*@
        </tbody>
    </table>
</div>