@model IEnumerable<Library.Application.Queries.BookQuery>

<div class="row first-row">
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>
    @foreach (var book in Model)
    {
        <div class="book-row"></div>
        <div style="height: 10px;"></div>
    }
    <div class="col-md-2"></div>
</div>