<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<a class="nav navbar-nav navbar-right glyphicon btn btn-default btn-lg" href="/Default/ShoppingCart/Index">
    <span class="glyphicon glyphicon-shopping-cart">Basket:<strong id="counter"></strong></span>
</a>
<script>
    CountItemsInBasket();
</script>