<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<a class="nav navbar-nav navbar-inverse navbar-right" href="/Default/ShoppingCart/Index">
    <span class="glyphicon glyphicon-shopping-cart" style="font-size: 16px;">Cart<strong id="counter"></strong></span>
</a>

<script>
    CountItemsInCart();
</script>