body {
    min-height: 100%;
}

.required::after {
    content: " *";
    font-weight: bold;
    color: red;
    font-size: 15px;
}

.first-row {
    margin-top: 60px;
    margin-bottom: 80px;
}

.index-first-row {
    margin-top: 20px;
    margin-bottom: 80px;
}

.add-textbox {
    width: 100%;
}

.description-add-textbox{
    min-height: 100px;
}

.add-label {
    font-size: 15px;
}

.book-row {
    padding-bottom: 10px;
    border: 1px solid midnightblue;
    border-radius: 25px;
}

.properties-column {
    padding-top: 10px;
    padding-right: 50px;
}

.book-title {
    border-bottom: 1px;
    border-bottom-style: double;
    border-bottom-color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}

.add-book-frame{
    border-style: solid;
    border-color: midnightblue;
    border-radius: 100px;
    width: 50px;
    margin-bottom: 10px;
}

.book-span {
    font-weight: bold;
    font-size: 12px;
}

.book-description {
    margin-top: 10px;
    font-size: 12px;
}
