body {
    min-height: 100%;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.required::after {
    content: " *";
    font-weight: bold;
    color: red;
    font-size: 15px;
}

.add-textbox {
    width: 100%;
}

.description-add-textbox {
    min-height: 100px;
    word-wrap: break-word;
}

.add-label {
    font-size: 15px;
}

.book-row {
    padding-bottom: 10px;
    border: 1px solid midnightblue;
    border-radius: 25px;
    background-color: white;
}

.properties-column {
    padding-top: 10px;
    padding-right: 50px;
}

.book-title {
    border-bottom: 1px;
    border-bottom-style: double;
    border-bottom-color: midnightblue;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
}

.book-span {
    font-weight: bold;
    font-size: 12px;
}

.book-description {
    margin-top: 10px;
    font-size: 12px;
    word-break: break-all;
}

.text-danger {
    font-weight: bold;
}

.button-wrapper {
    text-align: center;
}

.msg {
    position: fixed;
    width: 300px;
    left: calc(50% - 150px);
    color: white;
    top: 100px;
    background-color: black;
}

p {
    margin-bottom: 0;
}

.addBookPlus {
    font-size: 50px;
    border-radius: 30px;
    border: 2px solid black;
}

.borderlessbtn {
    padding: 0;
    border: none;
    background: none;
}

#pagination{
    margin-bottom: 30px;
}

.genres {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.agenre {
    margin: 0 auto;
    width: 200px;
    display: block;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}

.agenre:hover{
    color: gray;
}